@use "../sass/variable" as *;
@use "sass:color";
@import 'bootstrap/dist/css/bootstrap.min.css';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Roboto+Serif:wght@300;400;500;600&display=swap');

// mixins
@mixin too-small-mobile {
  @media (min-width: $too-small-mobile) {
    @content;
  }
}

@mixin small-mobile {
  @media (min-width: $small-mobile) {
    @content;
  }
}

@mixin mobile {
  @media (min-width: $mobile) {
    @content;
  }
}

@mixin small-tab {
  @media (min-width: $small-tab) {
    @content;
  }
}

@mixin big-tab {
  @media (min-width: $big-tab) {
    @content;
  }
}

@mixin small-desktop {
  @media (min-width: $small-desktop) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $desktop) {
    @content;
  }
}

@mixin mid-desktop {
  @media (min-width: $mid-desktop) {
    @content;
  }
}

@mixin large-desktop {
  @media (min-width: $large-desktop) {
    @content;
  }
}

@mixin center() {
  display: flex;
  justify-content: center;
  align-items: center;
}

// Common CSS Classes Starts
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: $text-color;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}

// animation

@keyframes downArrow {
  from {
    transform: translateY(10px);
  }

  to {
    transform: translateY(0px);
  }
}

@keyframes textRotation {
  100% {
    transform: rotate(360deg);
  }
}

body {
  overflow-x: hidden;
  font-family: 'Poppins', sans-serif;

  &::-webkit-scrollbar {
    width: 4px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $primary;
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
  }
}

p {
  margin: 0;
  font-size: 14px;
}

section {
  padding-block: 30px;

  @include big-tab() {
    padding-block: 50px;

  }
}

.cdn-image-wrapper {
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden;

  img {
    object-fit: cover;
    display: block;
  }

  figcaption {
    margin-top: 0.5rem;
    font-size: 0.875rem;
    color: #6b7280;
    text-align: center;
  }
}

.page-header {
  padding-block: 5px;
  position: relative;

  @include big-tab() {
    padding-block: 10px;
  }



  h1 {
    font-family: "Roboto Serif", serif;
    color: #114066;
  }

  .page-breadcrumb {

    a {
      text-decoration: none;
      color: #000;

      &:hover {
        text-decoration: underline;
      }
    }

    .current {
      color: #666;
      cursor: default;
      font-weight: 500;
    }

    .breadcrumb-text {
      margin-top: 4px;
      color: #777;
      font-size: 13px;
    }
  }
}

.product-card {
  padding: 20px;
  border-radius: 0 15px;
  background-color: #ffedd6;


  .product-image-wrap {
    position: relative;

    .product-image {
      img {
        border-radius: 0 15px;
      }
    }

    .product-discount {
      padding: 6px 8px;
      border-radius: 0 6px;
      background: linear-gradient(45deg, #a8cbee 25%, #fdd7f0 75%);
      color: #000;
      font-size: 13px;
      position: absolute;
      top: 6px;
      left: 8px;
      letter-spacing: 1px;
    }

    .product-like {
      position: absolute;
      top: 8px;
      right: 12px;
      cursor: pointer;

      svg {
        font-size: 25px;

        path {
          fill: rgb(195, 195, 195)
        }

        &.active {
          path {
            fill: rgb(244, 67, 54);
          }
        }
      }
    }

  }

  .product-detail-wrap {
    .product-detail {
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      font-size: 18px;
      font-family: 'Playfair Display', Georgia, 'Times New Roman', serif;
      font-weight: 500;
      color: #000;
    }

    .product-rating {
      display: flex;
      gap: 3px;

      p {
        font-size: 12px;
      }

      svg {
        font-size: 12px;

        path {
          fill: #000;
        }
      }
    }
  }


  .product-btn {
    width: 100%;
    border: 2px solid #000;
    background-color: transparent;
    padding: 10px;
    border-radius: 0 7px;
    font-size: 12px;
    letter-spacing: 1px;
    display: flex;
    color: #000;
    justify-content: center;
    gap: 20px;
    svg{
      font-size: 14px;
      path{
        fill: #000;
      }
    }

    .product-price{
      color: #545454;
      font-size: 11px;
      text-decoration: line-through;;
    }

    .product-sale-price{
      color: #000;
      font-size: 12px;
    }
    
  }
}