// variables
$white: #fff;
$black: #000;
$primary: rgb(148, 101, 101);
$text-color: #566674;
$heading-color: #003F77;
$light-blue: rgb(235, 243, 255);
$light-bg: #fcf9f3;

// breakpoints
$too-small-mobile: 320px;
$small-mobile: 376px;
$mobile: 576px;
$small-tab: 768px;
$big-tab: 992px;
$small-desktop: 1024px;
$desktop: 1200px;
$mid-desktop: 1400px;
$large-desktop: 1800px;

// FONT
